mixin slide
  //- console.log(attributes);
  //- -var isMarkdown = (type && type==='markdown') ? true : false;

  section&attributes(attributes)
    if !!attributes['data-markdown']
      script(type="text/template")
        block
    else
      block

mixin agenda(sections)
  div.agenda: ul(style="list-style-type: none")
    each subsections, title in sections
      li
        h4.fragment= title
        p
          ul(style="list-style-type: circle")
            each subsection in subsections
              li.fragment= subsection
