mixin slide
  //- console.log(attributes);
  //- -var isMarkdown = (type && type==='markdown') ? true : false;

  section&attributes(attributes)
    if !!attributes['data-markdown']
      script(type="text/template")
        block
    else
      block

mixin agenda(sections)
  div.agenda
    each subsections, title in sections
      div.fragment
        h3= title
        p
          ul(style="list-style-type: circle")
            each subsection in subsections
              li= subsection

mixin describe(title)
  div.describe&attributes(attributes)
    strong= title  
    p 
      block

mixin resource(title, link)
  p
    a(href=link target="_blank")
      | &#128279; 
      = title