extends layouts/presentation

block append config
  -
    config.title = 'Testování webových aplikací';
    config.description = '';
  -

block append styles
  style(type='text/css').
    span.image-title {
      font-size: 0.3em;
      display: block;
    }

    section img.text-icon {
      border: 0;
      margin: 0;
      background: transparent;
      box-shadow: 0;
      height: .9em;
    }

    .describe.left {
      text-align: left;
    }

block slides
  include slides/Main

  include slides/Agenda

  include slides/Motivation

  include slides/HowToStart

  include slides/UnitTests
  
  include slides/IntegrationUiTests

  include slides/Javascript
  
  include slides/Jest
  
  include slides/React

  include slides/Redux
  
  include slides/E2E
  
  include slides/Resources
