+slide
  h2 Agenda 1/2

  +agenda({
    'Automatické testování': [
      'Motivace',
      'TDD'
    ],
    'Testování webapps obecně': [
      'Frameworky',
      'Prostředí'
    ]
  })

+slide
  h2 Agenda 2/2

  +agenda({
    'Testování klienta': [
      'Unit testy (mockování)',
      'Integrační testy',
      'GUI testy',
      'React.js'
    ],
    'Testování serveru': [
    ]
  })