+slide
  h2 Agenda

  +agenda({
    'Obecně o testování': [
      'Motivace',
      'Co, proč a jak',
      'Unit testy',
      'Integrační a GUI testy'
    ],
    'Webové aplikace a testování': [
      'Asynchronita v testech',
      'React.js',
      'Jest'
    ]
  })