+slide(data-background="#b5533c")
  h2 E2E na klientu

  p Je potřeba sprovoznit mechanismus který dokáže pracovat s browserem (otevírání adres, práce s událostmi).
  p 
    | K tomu se často využívá WebDriver a Selenium server.
    br
    span(style="font-size: 0.8em") Node.js <=> WebDriver <=> Selenium Server <=> Firefox/Chrome/IE/Safari

  p(style="float: left;width:50%")
    img(src="http://nightwatchjs.org/img/operation.png" style="background-color: white; margin: 0")
    span.image-title http://nightwatchjs.org/gettingstarted

  div(style="width:50%; display: inline-block")
    | Nejpoužívanější nástroje pro E2E testování s WebDriverem:

    ul
      li
        a(href="http://nightwatchjs.org/" style="color:black") Nightwatch.js
      li
        a(href="http://codecept.io/" style="color:black") Codecept.JS
      li
        a(href="http://cypress.io/" style="color:black") Cypress.io
  hr(style="clear: both; width: 0")
  div
    | Alternativou bez WebDriveru je např.&nbsp;
    a(href="https://funcunit.com/" style="color:black") Funcunit
