+slide(data-background="#b5533c")
  h2 E2E na klientu

  p Je potřeba sprovoznit mechanismus který dokáže pracovat s browserem (otevírání adres, práce s událostmi).
  p 
    | K tomu se často využívá Selenium WebDriver a server.
    br
    span(style="font-size: 0.8em") Node.js <=> WebDriver <=> Selenium Server <=> Firefox/Chrome/IE/Safari
    br
    |              Client           Server                    Browser

  p Alternativou je např. Funcunit
