+slide(data-background="#4d7e65")
  h2
    | To콘 v코e
    br
    | Ot치zky?

+slide(data-background="#4d7e65")
  h2 Zdroje a materi치ly

  +resource("Mock's arent stubs", "https://martinfowler.com/articles/mocksArentStubs.html")
  +resource("Test driven development", "https://martinfowler.com/bliki/TestDrivenDevelopment.html")
  +resource("Test pyramid", "https://martinfowler.com/bliki/TestPyramid.html")
  +resource("5 Questions Every Unit Test Must Answer", "https://medium.com/javascript-scene/what-every-unit-test-needs-f6cd34d9836d")
  +resource("5 Common Misconceptions About TDD & Unit Tests", "https://medium.com/javascript-scene/5-common-misconceptions-about-tdd-unit-tests-863d5beb3ce9")
  +resource("JavaScript Testing: Unit vs Functional vs Integration Tests", "https://www.sitepoint.com/javascript-testing-unit-functional-integration/")
  +resource("Eradicating Non-Determinism in Tests", "https://martinfowler.com/articles/nonDeterminism.html")
  +resource("End to End (e2e) Testing React Apps With Selenium WebDriver And Node.js is Easier Than You Think", "https://marmelab.com/blog/2016/04/19/e2e-testing-with-node-and-es6.html")
