+slide
	h2 Integrační testy
	p 
		| Ověřují fungující spolupráci komponent a jejich integraci v celku.
	p
		| Testují fungující procesy uvnitř aplikace, ale i případnou spolupráci
		| s externími službami. 
	p 
		| Často používají různé zdroje, jako třeba databázi, síťové služby,
		| filesystem, a jsou tedy vhodnjší pro CI server.  


+slide
	h2 E2E testy
	p 
		| Ověřují scénáře konkrétního použití aplikace
	p 
		| Nahlížejí na aplikaci z pohledu uživatele jenž ji používá.
	p
		| Vyžadují spouštění na stroji s reálným prostředím.
	p
		| Časro mají nedeterministickou povahu.
