+slide
  h1= config.title

  h3= config.subtitle

  p
    small
        | Created by #{config.author.name}
        |  /
        a(
          href= `https://github.com/${config.author.github}`
        )  GitHub