+slide
  h3 Proč bych měl?

  p
    | Je to jednou tolik psaní, takže to zpomalí vývoj, nebo ne?

  ul
    li.fragment Vývoj bez reálného prostředí
    li.fragment
      span Změny v zadání, v našem přemýšlení
      span.fragment
        span &nbsp;&rArr;&nbsp;
        strong refactoring

  h3(style="margin-top: 50px") Co mi to přinese?

  p
    | Chování aplikace musí někdo otestovat - stroj nebo člověk?

  ul
    li.fragment Rychlost - vždy rychlejší než ručně
    li.fragment Opakovatelnost - ověření funkčnosti kdykoli
    li.fragment Spolehlivost - nepodléha lidskému faktoru
    li.fragment Dokumentaci - popis rozhranní, použití
    li.fragment Lepší návrh - testovatelnost hodně napoví

+slide
  h2 Chtěl bych ale...
  +describe('Nevím jak na to, v praxi je vše složitější.')
    | Začít psát testy postupně, od jednodušších modulů a funkcionality, skilly
    | budou narůstat.

  +describe('Tahle funkcionalita a její návrh je příliš složitý.')
    | Ze začátku je potřeba psát testy alespoň zpětně a budovat tak znalost
    | psaní testů.

  +describe('Mám málo času, nestíhám to naprogramovat, natož psát testy.')
    | Testy dokáží ověřit funkčnost během krátkého okamžiku od uložení.
    | Je to investice do budoucna, která se brzo vyplatí.
