+slide
  h2 Co je TDD?

  p
    | Princip je jednoduchý, tak proč je tak těžké?

  p(style="float: left")
    img(src="http://www.agilenutshell.com/assets/test-driven-development/tdd-circle-of-life.png" height="300px" style="margin: 0")
    span.image-title zdroj: http://www.agilenutshell.com/assets/test-driven-development/

  p Nejistota správně napsaného testu.

  p Složitá funkcionalita a její návrh.

  p GUI je potřeba vidět.

+slide
